/* #region HEADER*/
.header {
  display: grid;
  grid-template-columns: 454px 1fr 450px;
  margin: 92px 24px 0;
}

.header__menu {
  margin: 44px auto 39px 26px;
  width: 394px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  text-underline-offset: 3px;
  line-height: 21px;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.header__logo {
  display: block;
  width: 145px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.address {
  width: 240px;
  margin: 5px 25px 2px auto;
}

.header__address {
  font-style: normal;
  line-height: 135%;
  font-size: 18px;
}

.header__address-item-decoration {
  text-decoration: underline;
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
}

/* #endregion */

/* #region COVER*/
.cover {
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: rgb(255, 255, 255);
  margin-top: 95px;
  margin-bottom: 179px;
  padding: 0.1px;
}

.overlay {
  background-color: rgb(0 0 0 / 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover-title {
  display: block;
  text-transform: uppercase;
  position: relative;
  margin: 165px 50px 0 50px;
  font-size: 100px;
  font-weight: 700;
}

.aligned-text {
  display: block;
  text-align: start;
  margin-bottom: 20px;
  line-height: 115%;
}

.aligned-text_center {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  line-height: 100%;
}

.aligned-text_right {
  display: block;
  text-align: end;
  line-height: 100%;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 135px 50px 51px 78px;
}

.cover__description-text {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  margin-top: 12px;
  margin-bottom: 11px;
}

.word-spacing {
  word-spacing: 19px;
}

.bet-button {
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 11px 32px 11px 31px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
}

/* #endregion */

/* #region LOTS*/
.lots {
  padding: 0 24px;
}

.lots__heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  color: #000;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-bottom: 31px;
  color: #000;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 334px;
  height: 563px;
  padding: 51px 40px 47px;
}

.card__title {
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
}

.card__text {
  position: relative;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.card__text-book {
  line-height: 120%;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  margin-left: 40px;
}

/* #endregion */

/* #region ABOUT*/
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  margin: 146px 24px 0;
}

.about__logo {
  background-color: #000;
  margin-top: 36px;
  width: 240px;
  height: 240px;
  justify-self: center;
  border-radius: 120px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: 64px 45px 62px 46px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  margin: 149px 0 0 0;
  font-size: 20px;
  line-height: 120%;
}

.about__text-content-first-section {
  margin-top: 112px;
  letter-spacing: 0.01em;
}

.about__text-content-second-section {
  margin-top: 24px;
  letter-spacing: normal;
}

/* #endregion */

/* #region FOOTER*/
.footer {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  margin: 181px 50px 88px;
}

.footer__address {
  font-style: normal;
  font-size: 18px;
  line-height: 135%;
}

.footer__address-item-decoration {
  display: block;
  text-decoration: underline;
  line-height: 135%;
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
}

.footer__links-list-item {
  list-style-type: none;
  text-align: center;
}

.footer__links-list-item_no-bullit {
  list-style: none;
}

.footer__link {
  text-underline-offset: 3px;
  line-height: 21px;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 240px;
  height: 48px;
}

.footer__social-icon {
  height: 100%;
}

/* #endregion */

/* #region LETTER-SPACING*/
.letter-spacing-negative {
  letter-spacing: -0.01em;
}

.letter-spacing-001 {
  letter-spacing: 0.01em;
}

.letter-spacing-002 {
  letter-spacing: 0.02em;
}

.letter-spacing-003 {
  letter-spacing: 0.03em;
}

.letter-spacing-004 {
  letter-spacing: 0.04em;
}

.letter-spacing-1 {
  letter-spacing: 1.05em;
}

.letter-spacing-03 {
  letter-spacing: 0.3em;
}

.letter-spacing-06 {
  letter-spacing: 0.6em;
}

.letter-spacing-ellipsis {
  letter-spacing: 0.07em;
}

.letter-spacing-normal {
  letter-spacing: normal;
}

/* #endregion */
